@media only screen and (min-width: 760px) {
  
	.header .header-burger {
		display:flex; margin: 30px;
  	} 
  
	.header-nav {display:none}
  
	.header--menu-open .header-menu { 		
		opacity: 1; visibility: 				
		visible; text-align: center
  	}
  
	.header-menu-actions {
		display: none;
  	}
  
	.header-menu-cta {
		display: none;
	}
  
	.header-menu-nav-item a {
		font-size: 45px;
		line-height: .8
	}
}
